@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');
 html {
     margin: 0;
     padding: 0;
}
 body {
     background-color: #EFF1EF;
}
 .logo img {
     max-width: 250px;
     border-radius: 8px;
}
 nav {
     margin: 10px 50px;
     margin-top: -470px;
}
 #navbarNav {
     background-color: rgb(255, 255, 255);
}
 .navbar-nav {
     width: 100%;
     padding: 10px 20px;
     display: flex;
     justify-content: space-around;
     border-top: 1px grey solid;
     border-bottom: 1px grey solid;
}
 .nav-item {
     height: 40px;
     padding: 0 20px;
}
 .nav-item a:hover {
     color: #353745;
}
 .nav-item:hover {
     border-bottom: 1px #353745 solid;
}
 .nav-link {
     color: #353745;
     font-family: 'Tinos', serif;
     font-size: 17px;
}
 .sub-header {
     min-height: 500px;
     background-image: url(../img/bunner2.jpg);
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
}
 main {
     height: 500px;
     margin-top: 350px;
     font-family: 'Tinos', serif;
}
 .capture {
     font-size: 25px;
     text-align: center;
     margin: 0 70px ;
     padding: 10px 0;
     border-bottom: 1px #353745 solid;
}
 .item {
     background-color: #bfd9d6;
     padding: 20px;
     margin: 20px;
     width: 250px;
     height: 200px;
     display: flex;
}
 .item-btn {
     border-radius: 10px;
     height: 100px;
     display: flex;
     background-image: linear-gradient(to right,#96c4c0 , #e3f1f0);
}
 .item-btn button {
     width: 40%;
     font-size: 20px;
     padding: 10px 0;
}
 .row {
     margin: 100px 0;
}
 .bg-1 {
     background-image: url(/img/card-1.png);
     background-position: center;
     background-size: cover;
    /* opacity: 0.6;
     */
     border-radius: 10px;
}
 .bg-1:hover {
     opacity: 1;
}
 .bg-2 {
     background-image: url(/img/card-2.jpg);
     background-position: center;
     background-size: cover;
    /* opacity: 0.6;
     */
     border-radius: 10px;
}
 .bg-2:hover {
     opacity: 1;
}
 .bg-3 {
     background-image: url(/img/card-4.jpg);
     background-position: center;
     background-size: cover;
    /* opacity: 0.6;
     */
     border-radius: 10px;
}
 .bg-3:hover {
     opacity: 1;
}
 .bg-4 {
     background-image: url(/img/card-3.jpg);
     background-position: center;
     background-size: cover;
    /* opacity: 0.6;
     */
     border-radius: 10px;
}
 .bg-4:hover {
     opacity: 1;
}
 .item p, button {
    /* visibility: hidden;
     */
}
 .item p {
     font-family: 'Tinos', serif;
     font-size: 20px;
     background-color: #ffffff98;
     padding: 3px 10px;
     border-radius: 3px;
     text-align: center;
     color:rgb(68, 68, 68);
}
 .item p:hover {
     color:floralwhite;
     border: 1px solid white;
     cursor: pointer;
}
 .form-section {
     min-height: 500px;
     width: 100%;
     background-image: url(/img/form-section1.jpg);
     background-position: center;
     background-size: cover;
}
 .capture-form {
     font-size: 40px;
     text-align: left;
     margin: 0 70px ;
     padding: 10px 0;
     color:floralwhite;
}
 form {
     width: 40%;
     padding: 10px 30px;
     font-size: 17px;
     color:#fefeff;
}
 label {
     margin: 0;
}
